* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

@font-face {
  font-family: 'EBGaramond';
  src: url('EBGaramond-Regular.ttf') format('woff2-variations');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('InterDisplay-Regular.woff2') format('woff2-variations');
  font-weight: 400;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #174427;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

#my-name {
  font-family: 'EBGaramond', serif;
  color: #fff2e8;
  font-size: 40px;
}

#my-mail {
  font-family: 'Inter', sans-serif;
  color: #ffb982;
  font-size: 18px;
}

.social-links {
  font-family: 'Inter', sans-serif;
  color: #ffb982;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 25px;
  border-top: 1px solid #fff2e8;
}

a {
  color: #ffb982;
  text-decoration: none;
}

.arrow {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 900px) {
  .social-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 20px;
  }

  .social-links a {
    display: block;
  }
}
