* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

@font-face {
  font-family: 'Inter';
  src: url('InterVariable.woff2') format('woff2-variations');
  font-weight: 400;
}

@font-face {
  font-family: 'Soehne-Kraftig';
  src: url('soehne-kraftig.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Soehne-Buch';
  src: url('soehne-buch.woff2') format('woff2-variations');
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #030303;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
}

#my-name {
  font-family: 'Soehne-Kraftig', sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 10px;
}

#my-mail {
  font-family: 'Soehne-Buch', sans-serif;
  color: #b4b4b4;
  font-size: 17px;
}

.social-links {
  font-family: 'Soehne-Buch', sans-serif;
  color: #ffffff;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 35px;
  border-top: 1px solid #b4b4b4;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.arrow {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 700px) {
  .social-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
    padding: 20px;
  }

  .social-links a {
    display: block;
  }
}
