* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Signifier';
  src: url('test-signifier-regular.woff2') format('woff2-variations');
  font-weight: 600;
}

@font-face {
  font-family: 'Soehne';
  src: url('test-soehne-buch.woff2') format('woff2-variations');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('InterDisplay-Regular.woff2') format('woff2-variations');
  font-weight: 400;
}

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #184929;
}

header,
#my-mail {
  flex-grow: 0;
  flex-shrink: 0;
}

#my-mail {
  margin-top: 2rem; /* Adjust as needed */
  margin-bottom: 5rem; /* Adjust as needed */
}

#my-name {
  font-family: 'Signifier', serif;
  color: #fff2e8;
  font-size: 2.3rem;
}

#my-mail {
  font-family: 'Soehne', sans-serif;
  color: #ffb982;
  font-size: 1.1rem;
}

.social-links {
  font-family: 'Soehne', sans-serif;
  color: #ffb982;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust as needed */
  margin-top: auto; /* Push social icons to the bottom */
  position: fixed; /* Position icons fixed at the bottom */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.5rem; /* Padding for the icons bar */
  border-top: 1px solid #fff2e8; /* Add transparent border */
}

a {
  color: #ffb982; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove underline */
}

.arrow {
  font-family: 'Inter', sans-serif;
}